APP_HOST=0.0.0.0
APP_PORT=8000
POSTGRES_HOST=localhost
POSTGRES_PORT=5400
POSTGRES_DB=postgres
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin123
POSTGRES_SCHEMA=warehouse
POSTGRES_TABLE=warehouse_prices_1d
POSTGRES_TICKER_COLUMN=ticker
POSTGRES_DATE_COLUMN=date
POSTGRES_OPEN_COLUMN=open
POSTGRES_HIGH_COLUMN=high
POSTGRES_LOW_COLUMN=low
POSTGRES_CLOSE_COLUMN=close
POSTGRES_VOLUME_COLUMN=volume
CORS_ORIGINS=http://localhost:5173
